# {{ ansible_managed }}

{% for parameter in sysctl_extra_parameters %}
# Custom variable passed to role: {{ parameter.comment | default('No comment specified') }}
{{ parameter.parameter }}={{ parameter.value }}
{% endfor %}
