#{{ ansible_managed }}

# This template is to disable IPv6 configuration for all interfaces. 
# If you want to enable IPv6 only for certain interfaces you can use host
# specific parameters to do so.

# Michael@OceanDBA 2021-12-13 - Disable IPv6 for all interfaces
net.ipv6.conf.all.disable_ipv6 = 1

# Michael@OceanDBA 2021-12-13 - Disable IPv6 for interfaces that are added later on
net.ipv6.conf.default.disable_ipv6 = 1

# Michael@OceanDBA 2021-12-13 - Disable IPv6 for loopback interface as well
net.ipv6.conf.lo.disable_ipv6 = 1
