# {{ ansible_managed }}

# We change swappiness value to swap less aggressively, vfs_cache_pressure to
# release unused memory.

# Michael@OceanDBA 2021-12-13 - Swappiness is recommended to 0, which means the
# system will only start to use swap when there is no more memory available.
vm.swappiness=0

# Michael 2021-12-13 - High cache pressure means the kernel will evict
# more data from the file system cache. This indirectly results to the kernel to
# load swapped data back into memory, as soon as that memory is available again.
vm.vfs_cache_pressure=1000
