# {{ ansible_managed }}

# We change number of processes in large system to ease process identification and process management.

# Jain@OceanDBA 2021-12-22 - Specifies the value at which PIDs wrap around
kernel.pid_max=4194304

