# {{ ansible_managed }}

# This template is for servers that expect a high amount of unstable connections.
# We change tcp and netfilter parameters including various timeouts.

# Jain@OceanDBA 2021-01-19 - Enable TCP keepalive functionality.
# TCP keepalive process wait for 1 min for socket activity before 
# sending the first keepalive probe and then resend it every 10 seconds.
net.ipv4.tcp_keepalive_time=60
net.ipv4.tcp_keepalive_probes=6
net.ipv4.tcp_keepalive_intvl=10

# Jain@OceanDBA 2021-01-19 - Maximum amount of half-open connections requests which have not received an acknowledgement from connecting client.
net.ipv4.tcp_max_syn_backlog=8000
