# {{ ansible_managed }}

# This template is for servers that expect a high amount of connections.
# We change tcp and netfilter parameters including various timeouts.

# Michael@OceanDBA 2021-12-13 - Add more ports to allow more simultaneous TCP connections
net.ipv4.ip_local_port_range=4000 65000

# Michael@OceanDBA 2021-12-13 - Decrease timeout in case TCP connection breaks or was closed incorrectly
net.ipv4.tcp_fin_timeout=30

# Michael@OceanDBA 2021-12-13 - Reuse connections immediately that are closed by the other party (when this is safe in the TCP protocol)
net.ipv4.tcp_tw_reuse=1

# Michael@OceanDBA 2021-12-13 - The firewall keeps track of connections to determine which connections are established or not. These settings are to decrease the timeout (default is 120 seconds) to allow to track more connections.
net.netfilter.nf_conntrack_tcp_timeout_fin_wait=30
net.netfilter.nf_conntrack_tcp_timeout_time_wait=30

# Michael@OceanDBA 2021-12-13 - Maximum amount of connections that the firewall can keep track of.
net.netfilter.nf_conntrack_max=4194304

# Jain@OceanDBA 2021-01-17 - Allow binding to IP address that are nonlocal.
net.ipv4.ip_nonlocal_bind=1

# Jain@OceanDBA 2021-01-17 - Disable TCP slow start
net.ipv4.tcp_slow_start_after_idle=0

# Jain@OceanDBA 2021-01-17 - Upper limit allowed for a listen() backlog
# maximum established sockets (with an ACK) waiting to be accepted by listening process
net.core.somaxconn=16000

# Jain@OceanDBA 2021-01-17 - Maximum amount of packets queued on the INPUT side, when the interfaces recieves packets faster than kernel can process them.
net.core.netdev_max_backlog=8000

