# {{ ansible_managed }}

# This template is for systems that use the kernel's inotify system to directories with a lot of files in it's tree.
# For example lsyncd uses this system to watch changes on the filesystem and sync those changes to other systems.

# Michael@OceanDBA 2021-12-13 - Maximum amount of files that can be watched
fs.inotify.max_user_watches=500000

# Michael@OceanDBA 2021-12-13 - Maximum amount of inotify user instances (the amount of user processes that can use inotify)
fs.inotify.max_user_instances=4094
