# {{ ansible_managed }}

# We change number of concurrent open connections and number of file limits.

# Jain@OceanDBA 2021-01-19 -  Maximum amount of files that can be opened.
fs.file-max=100000000

# Jain@OceanDBA 2021-01-19 - Maximum amount of file-handles a process can allocate
fs.nr_open=10000000
