# {{ ansible_managed }}

# Michael@OceanDBA 2022-01-11:
# Protects against creating or following links under certain conditions. We
# recommend to set both set to 1 (restricted)
# See https://www.kernel.org/doc/Documentation/sysctl/fs.txt
fs.protected_hardlinks = 1
fs.protected_symlinks = 1
